
.Header{
    height: 6vh;
    font-size: min(4vw, 4vh);
    border-bottom: 1px solid;
    width: 100vw;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results{
    width: 5vw;
    position: absolute;
    right: 10vw;
    cursor: pointer;
    margin-right: 10vw;
}
.image{
    width: 5vw;
    position: absolute;
    right: 5vw;
    cursor: pointer;
}
