
.Header{
    height: 6vh;
    font-size: 2rem;
    border-bottom: 1px solid;
    width: 100vw;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 1em;
    position: absolute;
    right: 5vw;
    cursor: pointer;
}