.keys{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 10vh;
}
.keys-row{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.key{
    background-color: grey;
    border-radius: 3px;
    height: 6vh;
    aspect-ratio: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* transition-duration: 1s;
    transition-property: outline; */
}
.key:hover{
    opacity: 0.6;
}
.key:active{
    outline: 2px solid blue;
}
#k20,#k28{
    width: 100%;
    
}