:root{
    
    --font-color: #ffffff;
    --resume-background: #000000;
    
}


.light{
    
    --font-color: #000000;
    --resume-background: #ffffff;
}
.dark{
    --font-color: #ffffff;
    --resume-background: #000000;
  }
  

.resume{
    height: 95vh;
    width: 60vh;
    background-color: var(--resume-background);
    color: red;
    position: absolute;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
    background-color: blueviolet;
    position: relative;
}

.close{
    width: 2em;
    position: absolute;
    right: 5vw;
    top: 5vw;
    cursor: pointer;
}

.colors{
    display: flex;
    flex-direction: column;
    background-color: var(--resume-background);
    gap: 1px;
    position: absolute;
    top: 5vh;
}
  
.row-color{
display: flex;
align-content: space-between;
gap: 1px;
}

.color{
/* border: solid grey 2px; */
aspect-ratio: 1;
height: 1.5vh;
display: flex;
align-items: center;
justify-content: center;
}
.color.g{
    background-color: green;
}
.color.y{
background-color: #c9b458;
}
.color.w{
background-color:#3a3a3c ; 
}
.statistics{
    display: flex;
    position: absolute;
    gap: 10px;
    top: 18vh;
}
.values > *, .details >*{

    color: var(--font-color);
}
.values > *{
    text-align: center;
    align-self: center;
}
.details h2,h3{
    align-self: center;
    text-align: start;
}
h2{
    font-size: 3vmin;
}

.details{
    position: absolute;
    top: 30vh;
    left: 8vw;
    justify-self: start;
}


