@import "./components/panel.css";
@import "./components/header.css";
@import "./components/keyboard.css";
@import "./components/notification.css";
@import "./components/resume.css";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*{
  font-family: 'Spartan', sans-serif;
  font-size: min(1.5vw, 1.5vh);
}

.light{
  --main-background :#ffffff;
  --cell-font-color: #000000
  
}
.dark{
  --main-background :#000000;
  --cell-font-color: #ffffff
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

body.light {
  --color-bg: #FFFFFF;
  --color-text: #ffffff;
  --color-header: #000000;
}

body.dark {
  --color-bg: #000000;;
  --color-text: #ffffff;

}
body {
  --color-bg: #000000;;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.Header.light{
  color: var(--color-header);
}

