@import "./components/panel.css";
@import "./components/header.css";
@import "./components/keyboard.css";

.light{
  --main-background :#ffffff;
  
}
.dark{
  --main-background :#000000;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.light {
  --color-bg: #FFFFFF;
  --color-text: #000000;
}

body.dark {
  --color-bg: #000000;;
  --color-text: #ffffff;

}
body {
  --color-bg: #000000;;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}