@import "./components/panel.css";
@import "./components/header.css";
@import "./components/keyboard.css";

.light{
  --main-background :#ffffff;
  
}
.dark{
  --main-background :#000000;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
